<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>система адресов</title>
    <link rel="stylesheet" href="style.css">
    <meta htrp-equiv="Cache-Contdol" content="no-cache, no-store, must-revalidate" />
    <meta htrp-equiv="expires" content="0">
    <style>
        b {
            font-weight: 700;
        }
    </style>
</head>

<body>
    <header style="z-index: 1000;">
        <a href="index.php"><img src="logo.svg"></a> 
        <nav>
            <a href="docs.php">доки</a>
            <a href="mechanics.php">гайд</a>
            <a href="https://drive.google.com/drive/folders/16eql5eX66MEmCNNdRLr8ZmKumZhPHNI3?usp=sharing">↡</a>
        </nav>
    </header>
    <main>
        <h1 class="pink">адреса, чанки и районы</h1>
        <h2 class="darkblue" style="margin-top: 4rem;">понятия</h2>
        <table>
            <tr>
                <td><img src="images/numbers/House number-7.svg" class="icon1" alt=""></td>
                <td>
                    <h3>адресная табличка</h3>
                    <p>Работает как адресная метка для дома или здания. Нужна для задания адресов домов людей,
                        а также адресов социальных систем. Предметы системы/дома крайне желательно размещать в 
                        одном районе с адресной табличкой, чтобы ими можно было пользоваться.
                    </p>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <img src="images/chunk.png" style="width:128px; text-align: center;" alt="">
                </td>
                <td>
                    <h3>чанк</h3>
                    <p>Квадрат клеток 100х100. На одной клетке можно разместить пол либо стену. 
                        Размеры мебели никак не связаны с размерами этих клеток. При подгрузке любого из
                        чанков будет подгружаться весь район с этим чанком. С версии 0.16 нельзя подгружать
                        чанки по одному, т.е. попадать на промежуточные территории, которые захватывают несколько
                        районов.
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="images/chunks.png" style="width:256px;" alt="">
                </td>
                <td>
                    <h3>район</h3>
                    <p>Квадрат чанков 2х2. Внутри района должна быть вся необходимая для людей инфраструктура:
                        магазины, фабрики, школы и т.п. В версии 0.16 люди не умеют адекватно пользоваться инфраструктурой
                        соседних районов и смогут переезжать из района в район только по адресным табличкам (например,
                        если человек переезжает в университет, то большой университет может занимать сразу весь район и
                        иметь свою развитую инфраструктуру).
                    </p>
                </td>
            </tr>
        </table>
        <h2 class="darkblue" style="margin-top: 4rem;">адреса</h2>
        <p>В версии 0.14 добавилась система адресов для людей, их предметов и социальных систем. </p>
        <p>
            На огромной карте у людей есть свой адрес, который записывается в property каждого предмета мебели, что им принадлежит или создается ими. 
            Таким образом, люди могут пользоваться только теми предметами, что закреплены за их адресом/домом, либо теми, 
            что полностью общественные (0-й адрес), либо теми, что находятся в соц.системе, где люди работают или являются потребителями.  
            То же самое для общественных заведений, у них тоже свои адреса и своя собственность на карте.
        </p>
        <p>
            Адрес можно задать в параметрах самого персонажа. Как только ему дается адрес, который не был никем занят, 
            в подарок дается адресная табличка (которую нельзя удалить, только повесить на стену своего дома), по клику на нее 
            можно задать какое угодно название своему дому либо магазину. При присваивании социальной системе никем не занятого ранее адреса
            также выдается табличка.
        </p>
        <p>Примеры адресных табличек на стенах домов (номера домов от 0 до 100000):</p>
        <img src="images/addresses.png" alt="" style="width: 100%;">
        <h2>адрес №0</h2>
        <p>Нулевой адрес это особенное место: люди, имеющие 0-й адрес фактически являются бездомными, и вся их
            собственность может использоваться кем угодно на карте. Также вся общественная собственность (скамейки,
            деревья, киоски и т.п.) является собственностью 0-го адреса. 
        </p>
        <p>У таких людей указывается либо "homeless", либо "No address". При этом если кому-то поменять адрес с любого другого
            на нулевой, откроется пасхалка: появится табличка для 0-го адреса.
        </p>
        <img src="images/house_number_0.svg" alt="" style="height: 256px;">
        <img src="images/house_number_0.png" alt="" style="width: 70%;">
        <br>
        <br>
        <h2>как адреса влияют на действия</h2>
        <p>Ниже перечень шагов Edith и того, как адреса на них влияют:</p>
        <img src="images/addresses_ediths.png" alt="" style="width: 100%;">
        <h2 class="darkblue" style="margin-top: 4rem;">районы</h2>
        <p>Функции районов в геймплее:</p>
        <ul>
            <li>Между системами в районах есть поставки (аналог TransmitS2S, которого никогда не будет как действия)</li>
            <li>Возможен спаун рандом соседей из других районов + бездомных при прогрузке района</li>
            <li>В карточках NPC в интерфейсе будут видны вообще все жители мира и по нажатию на карточку жителя
                не из этого района его можно будет "призвать" (заспаунить в этом районе типа он гость и пришел погулять)
            </li>
        </ul>
    </main>
</body>

</html>