<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="expires" content="0">
</head>
<body>
    <header>
        <a href="index.php"><img src="logo.svg" style="height: 48px; width: 48px;"></a> 
        <nav>
            <a href="docs.php">доки</a>
            <a href="mechanics.php">механики</a>
            <a href="https://drive.google.com/drive/folders/1UCbKe83B1GqZHpMUCt8aPi2WE-X-qhxX?usp=sharing">↡ v. 0.17</a>
        </nav>
    </header>
</body>
</html>