<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>политики</title>
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="expires" content="0">
    <style>
        p {
            margin: 1rem 0;
        }
        .darkblue {
            margin-top: 6rem;
        }
        .params {
            min-width: 200px;
        }
        .icon2 {
            width: 36px;
            height: 16px;
            transform: scale(5);
        }
        li {
            margin-bottom: 1em; /* Расстояние снизу */
        }
        b {
            font-weight: 700;
        }
    </style>
</head>

<body>
    <main>
    <h1 class="pink">экономикс 🎀 и политикс 🎀</h1>
        <div class="ver_nav">
            <div class="select"><h4 style="margin:0;">v 0.16</h4></div>
        </div>
        <h2 class="darkblue" style="margin-top: 4rem;">производство</h2>
        <p>Основной двигатель производства (наш слон) в действиях людей это <img src="images/numbers/House number-103.svg" class="icon2" alt="">
            <a href="ediths.html#Produce">Rule.Produce</a>. Принцип работы простой:</p>
            <ol>
                <li>Смотрим, какие есть материалы в инвентаре (если они нужны). Вместо вида материала 
                    можно передать -1, если нам неважен вид материала. Если не хватает в инвентаре,
                    игра автоматически докупит за счет человека (или его начальника, если действие выполняется
                    в системе) недостающие предметы. <br>Сюда же закладываем цену сырья:
                    если у предмета прописан <i>value</i>, то берем его, если нет -- смотрим из глобальных цен
                    цивилизации, сколько такой предмет может стоить и закладываем эту цену.
                </li>
                <li>Смотрим, подходит ли человек требованиям действия (если такие есть). 
                    Сюда идет уровень навыка, необходимый для производства и т.п., если человек не подходит,
                    то на этом действие заканчивается. Если навыка в принципе нет у человека, то действие
                    тоже заканчивается. 
                </li>
                <li>Идём к станку. <s>Наматываемся на него.</s> Станок может быть бесхозным, принадлежать
                    человеку или самой системе, если действие выполняется в рамках рабочей смены. Из всех 
                    возможных выбираем самый ближайший.
                </li>
                <li>Принимаем позу <s>28</s> и выжидаем время. </li>
                <li>Производим продукт в инвентарь. Если действие выполняется в системе, то предмет переходит
                    в инвентарь системы, иначе в инвентарь самого человека. К предмету автоматически
                    прописывается то, какому адресу он принадлежит и сколько он будет стоить. <br>
                    Цена складывается из почасовой ставки работника, стоимости материалов, а также наценки, которую получит
                    производитель. Формула наценки:
                    <br>
                    <img src="economics/1.png" alt="" style="width: 50vw">
                    <br>
                    где prod_price -- цена производства, demand_price -- цена спроса (т.е. глобальная цена в contr)
                    <br>В demand_price подаётся <b>квадрат</b> цены спроса (уж хз почему, самому бы вспомнить)
                </li>
                <li>Новые произведенные предметы также учитываются в production_rate цивилизации</li>
                <li>Тратим ресурсы, которые пошли на производство предмета, из инвентаря</li>
                <li>Снижаем потребности человека на заданные пункты после производства (если такое задавали)</li>
            </ol>
        <h2 class="darkblue" style="margin-top: 4rem;">потребление</h2>
        <p>Большая часть потребления держится на <img src="images/numbers/House number-108.svg" class="icon2" alt="">
            <a href="ediths.html#PurchaseNeed">Rule.PurchaseNeed</a>. Принцип работы:</p>
        <img src="economics/2.png" alt="">
        <h2 class="darkblue" style="margin-top: 4rem;">параметры цивилизации</h2>
        <p>
            Эти параметры задаются для каждой цивилизации отдельно и влияют в основном на автоматизированные системы трудоустройства и пр.
        </p>
        <table>
            <tr><td class="uidesc" colspan="2">
                <h2>salarydailyindex</h2>
            </td></tr>
            <tr> <td class="params"><i>0.02</i></td>
                <td>Ежедневная индексация зарплат. Процент, на который зарплата увеличивается ежедневно.</td>
            </tr>
            <tr><td class="uidesc" colspan="2">
                <h2>top10budget </h2>
            </td></tr>
            <tr> <td class="params"><i>0.1</i></td>
                <td>Определяет, какой именно процент будет учитываться как самые богатые люди. По умолчанию 10%, верхние 10% по бюджету не будут искать себе работу.</td>
            </tr>
            <tr><td class="uidesc" colspan="2">
                <h2>workweek </h2>
            </td></tr>
            <tr> <td class="params"><i>40</i></td>
                <td>Длительность средней рабочей недели. Люди не будут устраиваться на новые работы, если количество рабочих часов вместе с часами новой работы превысит это число. Не распространяется на действия игрока, игрок может вручную устроить человека на работу, которая превысит это число часов.</td>
            </tr>
            <tr><td class="uidesc" colspan="2">
                <h2>workweekmin </h2>
            </td></tr>
            <tr> <td class="params"><i>16</i></td>
                <td>Минимальная занятость. Люди будут устраиваться на новые работы, если количество рабочих часов ниже, чем это число.</td>
            </tr>
        </table>
    </main>
</body>

</html>