<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>навыки</title>
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="expires" content="0">
    <style>
        p {
            margin: 1rem 0;
        }
        .darkblue {
            margin-top: 6rem;
        }
    </style>
</head>

<body>
    <main>
        <h1 class="pink">система навыков</h1>
        <p>Также может пригодиться: <a href="pbox0_actions.pdf">Список кодов действий из PBox 0</a></p>
        
        <p style="margin-top: 4rem;">Каждый навык имеет уровень от 0 до 100.</p>
        <p>Навыки делятся на три типа:
        </p>
        <ol>
            <li>те, которые интересные и монетизируемые, как правило, хобби: рисование, флористика, столярка и т.д.</li>
            <li>те, что нужны на работе и прокачиваются на работе/курсах, например машиностроение, сборка мебели и т.д.</li>
            <li>те, что мало монетизируются, но просто прикольные в социализации: игры, мистика и пр.</li>
        </ol>
        <p>Отдельной кастой идут навыки <b style="font-weight: 700;">садоводства и готовки</b>, для них отдельный комплекс действий.</p>
        <h2 class="darkblue" style="margin-top: 4rem;">навыки по хобби</h2>
        <h3>как работает?</h3>
        <p class="disclaimer" style="margin-top: 0rem;">Значения стоит прогнать через аппроксимацию для лучшего игрового баланса.</p>
        <p>В зависимости от уровня навыка, открываются новые возможности:</p>
        <ul>
            <li>0 - 20: учимся/практикуемся навыку, выполняем простые действия, наши творения не стоят ничего</li>
            <li>20 - 50: можем что-то делать для себя и при удаче продавать</li>
            <li>50 - 80: можем монетизировать наш навык и делать что-то на заказ, наши творения стоят подороже</li>
            <li>80 - 100: можем обучать кого-то этому навыку и получать за это большие деньги</li>
        </ul>
        <h3>список навыков</h3>
        <p>Примечание: для действий в каждой последующей ячейке указываются только новые добавляющиеся действия; коды действий взяты согласно сохранению base_gameplay.</p>
        <div class="skillset">
            <div><b style="font-weight: 700;">Название навыка</b></div>
            <div><b style="font-weight: 700;">Предмет для практики навыка</b></div>
            <div><b style="font-weight: 700;">Артефакты 0 - 20</b></div>
            <div><b style="font-weight: 700;">Артефакты 20 - 50</b></div>
            <div><b style="font-weight: 700;">Артефакты 50 - 100</b></div>
            <div><b style="font-weight: 700;">Действия 0 - 20</b></div>
            <div><b style="font-weight: 700;">Действия 20 - 50</b></div>
            <div><b style="font-weight: 700;">Действия 50 - 80</b></div>
            <div><b style="font-weight: 700;">Действия 80 - 100</b></div>
            <div>drawing</div>
            <div>
                <div class="grid-item">
                    <img src="furns/101.png" alt="">
                    <div class="info">
                        <h1>101</h1>
                        <p>Мольберт</p>
                    </div>
                </div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>33</h1>
                        <p>Computer</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>501 x 3</h1>
                        <p>Poorly made drawings</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>502 x 10</h1>
                        <p>Wall hanging drawings</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>502 x 10</h1>
                        <p>Wall hanging drawings</p>
                    </div>
                </div>
            </div>
            <div>
                <p>
                    <span class="opdesc">1501</span>practice_drawing <br>
                    <span class="opdesc">1505</span>attend_drawing_course <i>(действует только если есть система, которая этому обучает)</i>
                </p>
            </div>
            <div><span class="opdesc">1502</span>drawing_for_self</div>
            <div><span class="opdesc">1503</span>draw_portrait</div>
            <div>
                <p>
                    <span class="opdesc">1504</span>teach_drawing <br>
                    <span class="opdesc">1506</span>draw_hq_digital_art
                </p>
            </div>

            <div>pottery</div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>102</h1>
                        <p>Pottery wheel</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>503 x 3</h1>
                        <p>Poorly made ceramics</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>504 x 10</h1>
                        <p>Hand made ceramics</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>504 x 10</h1>
                        <p>Hand made ceramics</p>
                    </div>
                </div>
            </div>
            <div>
                <p>
                    <span class="opdesc">1511</span>practice_pottery <br>
                    <span class="opdesc">1515</span>attend_pottery_course <i>(действует только если есть система, которая этому обучает)</i>
                </p>
            </div>
            <div><span class="opdesc">1512</span>pottery_for_self</div>
            <div><span class="opdesc">1513</span>make_custom_pottery</div>
            <div><span class="opdesc">1514</span>teach_pottery</div>

            <div>music_synth</div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>104</h1>
                        <p>Synthesizer</p>
                    </div>
                </div>
            </div>
            <div>
                ??? как-то надо обозначить трек, который при этом не существует в реальности, мб пластинка или CD-диск
            </div>
            <div>
                ??? как-то надо обозначить трек, который при этом не существует в реальности, мб пластинка или CD-диск
            </div>
            <div>
                ??? как-то надо обозначить трек, который при этом не существует в реальности, мб пластинка или CD-диск
            </div>
            <div>
                <span class="opdesc">TBA</span>
            </div>
            <div><span class="opdesc">TBA</span></div>
            <div><span class="opdesc">TBA</span></div>
            <div><span class="opdesc">TBA</span></div>

            <div>sewing</div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>140</h1>
                        <p>Tailor's workplace</p>
                    </div>
                </div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>141</h1>
                        <p>Sewing machine</p>
                    </div>
                </div>
            </div>
            <div>
                хз, шторы, прихватки
            </div>
            <div>
                мб подушки и ковры?
            </div>
            <div>
                мб подушки и ковры?
            </div>
            <div>
                <span class="opdesc">TBA</span>
            </div>
            <div><span class="opdesc">TBA</span></div>
            <div><span class="opdesc">TBA</span></div>
            <div><span class="opdesc">TBA</span></div>

            <div>jewelry_making</div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>138</h1>
                        <p>Jewelry making equipment</p>
                    </div>
                </div>
            </div>
            <div>
                TBA
            </div>
            <div>
                TBA
            </div>
            <div>
                TBA
            </div>
            <div>
                <span class="opdesc">TBA</span>
            </div>
            <div><span class="opdesc">TBA</span></div>
            <div><span class="opdesc">TBA</span></div>
            <div><span class="opdesc">TBA</span></div>

            <div>floristics</div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>102</h1>
                        <p>Pottery wheel</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>503 x 3</h1>
                        <p>Poorly made ceramics</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>504 x 10</h1>
                        <p>Hand made ceramics</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>504 x 10</h1>
                        <p>Hand made ceramics</p>
                    </div>
                </div>
            </div>
            <div>
                <p>
                    <span class="opdesc">1511</span>practice_pottery <br>
                    <span class="opdesc">1515</span>attend_pottery_course <i>(действует только если есть система, которая этому обучает)</i>
                </p>
            </div>
            <div><span class="opdesc">1512</span>pottery_for_self</div>
            <div><span class="opdesc">1513</span>make_custom_pottery</div>
            <div><span class="opdesc">1514</span>teach_pottery</div>

            

            <div>photography</div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>102</h1>
                        <p>Pottery wheel</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>503 x 3</h1>
                        <p>Poorly made ceramics</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>504 x 10</h1>
                        <p>Hand made ceramics</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>504 x 10</h1>
                        <p>Hand made ceramics</p>
                    </div>
                </div>
            </div>
            <div>
                <p>
                    <span class="opdesc">1511</span>practice_pottery <br>
                    <span class="opdesc">1515</span>attend_pottery_course <i>(действует только если есть система, которая этому обучает)</i>
                </p>
            </div>
            <div><span class="opdesc">1512</span>pottery_for_self</div>
            <div><span class="opdesc">1513</span>make_custom_pottery</div>
            <div><span class="opdesc">1514</span>teach_pottery</div>

            <div>carpentry</div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>102</h1>
                        <p>Pottery wheel</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>503 x 3</h1>
                        <p>Poorly made ceramics</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>504 x 10</h1>
                        <p>Hand made ceramics</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>504 x 10</h1>
                        <p>Hand made ceramics</p>
                    </div>
                </div>
            </div>
            <div>
                <p>
                    <span class="opdesc">1511</span>practice_pottery <br>
                    <span class="opdesc">1515</span>attend_pottery_course <i>(действует только если есть система, которая этому обучает)</i>
                </p>
            </div>
            <div><span class="opdesc">1512</span>pottery_for_self</div>
            <div><span class="opdesc">1513</span>make_custom_pottery</div>
            <div><span class="opdesc">1514</span>teach_pottery</div>

            
            

            <div>beat_making</div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>102</h1>
                        <p>Pottery wheel</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>503 x 3</h1>
                        <p>Poorly made ceramics</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>504 x 10</h1>
                        <p>Hand made ceramics</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>504 x 10</h1>
                        <p>Hand made ceramics</p>
                    </div>
                </div>
            </div>
            <div>
                <p>
                    <span class="opdesc">1511</span>practice_pottery <br>
                    <span class="opdesc">1515</span>attend_pottery_course <i>(действует только если есть система, которая этому обучает)</i>
                </p>
            </div>
            <div><span class="opdesc">1512</span>pottery_for_self</div>
            <div><span class="opdesc">1513</span>make_custom_pottery</div>
            <div><span class="opdesc">1514</span>teach_pottery</div>

            
            <div>djing</div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>102</h1>
                        <p>Pottery wheel</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>503 x 3</h1>
                        <p>Poorly made ceramics</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>504 x 10</h1>
                        <p>Hand made ceramics</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>504 x 10</h1>
                        <p>Hand made ceramics</p>
                    </div>
                </div>
            </div>
            <div>
                <p>
                    <span class="opdesc">1511</span>practice_pottery <br>
                    <span class="opdesc">1515</span>attend_pottery_course <i>(действует только если есть система, которая этому обучает)</i>
                </p>
            </div>
            <div><span class="opdesc">1512</span>pottery_for_self</div>
            <div><span class="opdesc">1513</span>make_custom_pottery</div>
            <div><span class="opdesc">1514</span>teach_pottery</div>

            <div>3d_printing</div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>102</h1>
                        <p>Pottery wheel</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>503 x 3</h1>
                        <p>Poorly made ceramics</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>504 x 10</h1>
                        <p>Hand made ceramics</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>504 x 10</h1>
                        <p>Hand made ceramics</p>
                    </div>
                </div>
            </div>
            <div>
                <p>
                    <span class="opdesc">1511</span>practice_pottery <br>
                    <span class="opdesc">1515</span>attend_pottery_course <i>(действует только если есть система, которая этому обучает)</i>
                </p>
            </div>
            <div><span class="opdesc">1512</span>pottery_for_self</div>
            <div><span class="opdesc">1513</span>make_custom_pottery</div>
            <div><span class="opdesc">1514</span>teach_pottery</div>

            
            

            <div>circuit_design</div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>102</h1>
                        <p>Pottery wheel</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>503 x 3</h1>
                        <p>Poorly made ceramics</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>504 x 10</h1>
                        <p>Hand made ceramics</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>504 x 10</h1>
                        <p>Hand made ceramics</p>
                    </div>
                </div>
            </div>
            <div>
                <p>
                    <span class="opdesc">1511</span>practice_pottery <br>
                    <span class="opdesc">1515</span>attend_pottery_course <i>(действует только если есть система, которая этому обучает)</i>
                </p>
            </div>
            <div><span class="opdesc">1512</span>pottery_for_self</div>
            <div><span class="opdesc">1513</span>make_custom_pottery</div>
            <div><span class="opdesc">1514</span>teach_pottery</div>
        </div>
        <br>
        <h3>набросок для скиллов от chatgpt</h3>
<p>### Игра на синтезаторе</p>
<p>- **Предмет для навыка:** синтезатор</p>
<p>- **Артефакты:**</p>
<p>&nbsp; - 0-20: Простые мелодии</p>
<p>&nbsp; - 20-50: Каверы на популярные песни</p>
<p>&nbsp; - 50-80: Собственные композиции</p>
<p>&nbsp; - 80-100: Альбомы собственных композиций</p>
<p>- **Действия:**</p>
<p>&nbsp; - 0-20: Практиковать игру или ходить на музыкальные курсы</p>
<p>&nbsp; - 20-50: Играть для себя или друзей</p>
<p>&nbsp; - 50-80: Выступать на мероприятиях</p>
<p>&nbsp; - 80-100: Обучать игре на синтезаторе</p>
<p><br></p>
<p>### Шитье</p>
<p>- **Предмет для навыка:** швейная машина</p>
<p>- **Артефакты:**</p>
<p>&nbsp; - 0-20: Простая одежда и аксессуары</p>
<p>&nbsp; - 20-50: Модные наряды</p>
<p>&nbsp; - 50-80: Коллекции одежды</p>
<p>&nbsp; - 80-100: Высокая мода</p>
<p>- **Действия:**</p>
<p>&nbsp; - 0-20: Шить простую одежду</p>
<p>&nbsp; - 20-50: Шить наряды по индивидуальным заказам</p>
<p>&nbsp; - 50-80: Продавать свои коллекции</p>
<p>&nbsp; - 80-100: Создавать и продавать высокомодные наряды</p>
<p><br></p>
<p>### Ювелирные украшения</p>
<p>- **Предмет для навыка:** ювелирный инструментарий</p>
<p>- **Артефакты:**</p>
<p>&nbsp; - 0-20: Простые украшения</p>
<p>&nbsp; - 20-50: Элегантные украшения</p>
<p>&nbsp; - 50-80: Эксклюзивные украшения</p>
<p>&nbsp; - 80-100: Коллекции украшений</p>
<p>- **Действия:**</p>
<p>&nbsp; - 0-20: Создавать простые украшения</p>
<p>&nbsp; - 20-50: Продавать украшения на заказ</p>
<p>&nbsp; - 50-80: Создавать эксклюзивные украшения</p>
<p>&nbsp; - 80-100: Разрабатывать и продавать коллекции украшений</p>
<p><br></p>
<p>### Флористика</p>
<p>- **Предмет для навыка:** флористический инвентарь</p>
<p>- **Артефакты:**</p>
<p>&nbsp; - 0-20: Простые букеты</p>
<p>&nbsp; - 20-50: Тематические композиции</p>
<p>&nbsp; - 50-80: Эксклюзивные флористические проекты</p>
<p>&nbsp; - 80-100: Арт-инсталляции</p>
<p>- **Действия:**</p>
<p>&nbsp; - 0-20: Составлять простые букеты</p>
<p>&nbsp; - 20-50: Создавать букеты и композиции на заказ</p>
<p>&nbsp; - 50-80: Реализовывать крупные флористические проекты</p>
<p>&nbsp; - 80-100: Создавать и реализовывать флористические инсталляции</p>
<p><br></p>
<p>### Фотография</p>
<p>- **Предмет для навыка:** фотоаппарат</p>
<p>- **Артефакты:**</p>
<p>&nbsp; - 0-20: Простые снимки</p>
<p>&nbsp; - 20-50: Качественные портреты и пейзажи</p>
<p>&nbsp; - 50-80: Профессиональные фотосессии</p>
<p>&nbsp; - 80-100: Авторские фотопроекты</p>
<p>- **Действия:**</p>
<p>&nbsp; - 0-20: Фотографировать для себя</p>
<p>&nbsp; - 20-50: Делать портретные и пейзажные съемки на заказ</p>
<p>&nbsp; - 50-80: Организовывать профессиональные фотосессии</p>
<p>&nbsp; - 80-100: Создавать и реализовывать авторские фотопроекты</p>
<p><br></p>
<p>### Навык плотника</p>
<p>- **Предмет для навыка:** столярный инструментарий</p>
<p>- **Артефакты:**</p>
<p>&nbsp; - 0-20: Простая мебель и декор</p>
<p>&nbsp; - 20-50: Качественная мебель</p>
<p>&nbsp; - 50-80: Дизайнерская мебель</p>
<p>&nbsp; - 80-100: Эксклюзивные мебельные проекты</p>
<p>- **Действия:**</p>
<p>&nbsp; - 0-20: Строить простую мебель</p>
<p>&nbsp; - 20-50: Изготавливать мебель на заказ</p>
<p>&nbsp; - 50-80: Создавать дизайнерскую мебель</p>
<p>&nbsp; - 80-100: Реализовывать эксклюзивные мебельные проекты</p>
<p><br></p>
<p>### Создание музыкальных битов</p>
<p>- **Предмет для навыка:** компьютер с соответствующим софтом</p>
<p>- **Артефакты:**</p>
<p>&nbsp; - 0-20: Простые биты</p>
<p>&nbsp; - 20-50: Качественные биты</p>
<p>&nbsp; - 50-80: Продвинутые музыкальные композиции</p>
<p>&nbsp; - 80-100: Эксклюзивные музыкальные треки</p>
<p>- **Действия:**</p>
<p>&nbsp; - 0-20: Составлять простые музыкальные биты</p>
<p>&nbsp; - 20-50: Продавать биты музыкантам</p>
<p>&nbsp; - 50-80: Создавать музыку для медиапроектов</p>
<p>&nbsp; - 80-100</p>
<p><br></p>
<p>: Работать с известными артистами и брендами</p>
<p><br></p>
<p>### Навык диджея</p>
<p>- **Предмет для навыка:** DJ-оборудование</p>
<p>- **Артефакты:**</p>
<p>&nbsp; - 0-20: Миксы для домашнего прослушивания</p>
<p>&nbsp; - 20-50: Миксы для вечеринок</p>
<p>&nbsp; - 50-80: Авторские треки и выступления</p>
<p>&nbsp; - 80-100: Участие в крупных фестивалях</p>
<p>- **Действия:**</p>
<p>&nbsp; - 0-20: Играть на частных вечеринках</p>
<p>&nbsp; - 20-50: Выступать в клубах</p>
<p>&nbsp; - 50-80: Создавать собственную музыку и выступать на мероприятиях</p>
<p>&nbsp; - 80-100: Участвовать в крупных музыкальных фестивалях</p>
<p><br></p>
<p>### 3D-моделирование</p>
<p>- **Предмет для навыка:** Компьютер с 3D-моделировочным софтом</p>
<p>- **Артефакты:**</p>
<p>&nbsp; - 0-20: Простые 3D-модели</p>
<p>&nbsp; - 20-50: Детализированные 3D-модели</p>
<p>&nbsp; - 50-80: Профессиональные 3D-проекты</p>
<p>&nbsp; - 80-100: 3D-моделирование для кино и игр</p>
<p>- **Действия:**</p>
<p>&nbsp; - 0-20: Создавать простые модели для практики</p>
<p>&nbsp; - 20-50: Разрабатывать модели на заказ</p>
<p>&nbsp; - 50-80: Работать над проектами для промышленности и дизайна</p>
<p>&nbsp; - 80-100: Участвовать в создании контента для кино и видеоигр</p>
<p><br></p>
<p>### Схемотехника</p>
<p>- **Предмет для навыка:** Набор для сборки электроники</p>
<p>- **Артефакты:**</p>
<p>&nbsp; - 0-20: Простые электронные схемы</p>
<p>&nbsp; - 20-50: Полезные гаджеты и устройства</p>
<p>&nbsp; - 50-80: Сложные электронные устройства</p>
<p>&nbsp; - 80-100: Инновационные электронные решения</p>
<p>- **Действия:**</p>
<p>&nbsp; - 0-20: Собирать простые устройства для обучения</p>
<p>&nbsp; - 20-50: Разрабатывать и продавать полезные гаджеты</p>
<p>&nbsp; - 50-80: Создавать сложные устройства на заказ</p>
<p>&nbsp; - 80-100: Разрабатывать инновационные электронные решения</p>
<p><br></p>
<p>Каждый навык открывает новые возможности и артефакты с увеличением уровня мастерства, позволяя участникам монетизировать их умения, делиться ими с сообществом или использовать в профессиональной сфере.</p>


        <h2 class="darkblue" style="margin-top: 4rem;">производственные навыки</h2>
        <h3>как работает?</h3>
        <p>Навыки, что нужны на работе и слабо прокачиваются дома, например машиностроение, сборка мебели и т.д.</p>
        <p>Нужны чисто для работы, хорошо прокачиваются в практике либо им можно обучиться на курсах, в зависимости от навыка меняется скорость работы и зарплата.</p>
        <h2 class="darkblue" style="margin-top: 4rem;">навыки по фану</h2>
        <h3>как работает?</h3>    
        <p>Те навыки, что мало монетизируются, но просто прикольные (игры, мистика, хз) и дают плюшки при общении с людьми (люди тянутся к тебе от того, что ты прикольный).</p>
        <p>Типа навык в играх, мистике и т.д., вроде этим обладаешь, монетизировать не можешь, но имеешь другой профит типа выигрывать киберсоревнования, споры, обыгрывать людей, погадать чето прикольное и развеселить всех и т.д.</p>
        <!-- <div class="skillset skillset3">
            <div><b style="font-weight: 700;">Название навыка</b></div>
            <div><b style="font-weight: 700;">Предмет для практики навыка</b></div>
            <div><b style="font-weight: 700;">Действия 0 - 20</b></div>
            <div><b style="font-weight: 700;">Действия 20 - 50</b></div>
            <div><b style="font-weight: 700;">Действия 50 - 80</b></div>
            <div><b style="font-weight: 700;">Действия 80 - 100</b></div>
            <div>singing</div>
            <div>
                <div class="grid-item">
                    <img src="icons/Furn.svg" alt="">
                    <div class="info">
                        <h1>102</h1>
                        <p>Pottery wheel</p>
                    </div>
                </div>
            </div>
            
            <div>
                <p>
                    <span class="opdesc">1511</span>practice_pottery <br>
                    <span class="opdesc">1515</span>attend_pottery_course <i>(действует только если есть система, которая этому обучает)</i>
                </p>
            </div>
            <div><span class="opdesc">1512</span>pottery_for_self</div>
            <div><span class="opdesc">1513</span>make_custom_pottery</div>
            <div><span class="opdesc">1514</span>teach_pottery</div>

            
        </div> -->
    </main>
</body>

</html>