<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>консольный интерфейс</title>
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
</head>

<body>
    <main style="padding-top: 100px;">
        <div class="ver_nav" style="margin-bottom: 1rem;">
            <div><a href="ui0.14.php">v0.14</a> </div>
            <div class="select"><h4 style="margin:0;">v 0.15</h4></div>
            <div><a href="ui.php">v.0.16</a></div>
        </div>
        <h1 class="pink">управление клавишами</h1>
        <table>
            <tr>
                <td style="display:flex; outline: none">
                    <div class="key">↑</div>
                    <div class="key">↓</div>
                    <div class="key" style="transform:rotate(90deg)">↑</div>
                    <div class="key" style="transform:rotate(-90deg)">↑</div>
                </td>
                <td class="uidesc">
                    <p>
                        Передвижение камеры
                    </p>
                </td>
            </tr>
            <tr>
                <td style="display:flex; outline: none">
                    <div class="key">Z</div>
                </td>
                <td class="uidesc">
                    <p>
                        Приблизить камеру
                    </p>
                </td>
            </tr>
            <tr>
                <td style="display:flex; outline: none">
                    <div class="key">X</div>
                </td>
                <td class="uidesc">
                    <p>
                        Отдалить камеру
                    </p>
                </td>
            </tr>
            <tr>
                <td style="display:flex; outline: none">
                    <div class="key">Tab</div>
                </td>
                <td class="uidesc">
                    <p>
                        Скрыть/показать интерфейс
                    </p>
                </td>
            </tr>
            
            
        </table>
        <br><br>
        <h1 class="pink">консольный интерфейс</h1>
        
        <p>Консоль вызывается клавишей С. Выглядит вот так:</p>
            <img src="images/console.png" alt="">
            <div class="nav">
                <div id="b1" class="btn btnInactive">Действия</div>
                <div id="b2" class="btn btnInactive">Дискурс</div>
                <div id="b3" class="btn btnInactive">Параметры</div>
                <div id="b4" class="btn btnInactive">Соц.системы</div>
                <div id="b5" class="btn btnInactive">Сохранения</div>
                <div id="b7" class="btn btnInactive">Каретка</div>
                <div id="b6" class="btn btnInactive">Прочее</div>
            </div>
            
        <table>
            <tr class="action">
                <td>
                    <div>
                        <div class="input chosen op1">a</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">1398/...</div>
                        <div class="op">OP3</div>
                        <div class="input"></div>
                        <div class="op">OP4</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input"></div>
                        <div class="op">OP6</div>
                        <div class="input"></div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                </td>
                <td class="uidesc">
                    <h2>a</h2>
                    <p>Добавляет новое действие в список имеющихся в мире<br><br>
                        На вход принимает строку вида:
                        <div class="code">
                            1398/exchange_opinions_test//social,,,,,,,,/0/1/1/Start/ /1/2/3/OpinionExchange/0/2/4/4/ParamChange/social 2/3/4/4/Cry/10.0/4/5/5/Finish/ 												
                        </div>
                        <a href="ediths.html">Подробнее про создание действий</a>
                    </p>
                </td>
            </tr>
            <tr class="action">
                <td>
                    <div>
                        <div class="input chosen op1">aa</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">4100</div>
                        <div class="op">OP3</div>
                        <div class="input chosen">1</div>
                        <div class="op">OP4</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input"></div>
                        <div class="op">OP6</div>
                        <div class="input"></div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                </td>
                <td class="uidesc">
                    <h2>aa</h2>
                    <p>Заставить выполнять определенное действие. Я знаю, что суть игры
                        не в этом и такого в финале не будет, чисто для отладки
                    </p>
                </td>
            </tr>
            <tr class="disc">
                <td>
                    <div>
                        <div class="input chosen op1">adisciv</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">15</div>
                        <div class="op">OP3</div>
                        <div class="input"></div>
                        <div class="op">OP4</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input"></div>
                        <div class="op">OP6</div>
                        <div class="input"></div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>adisciv</h2>
                    <p>Выдать каждому человеку заданное количество мнений из списка мнений всего общества. 
                        Значение мнения выдается рандомно, true/false.
                        <p><b class="opdesc">OP2</b>Количество мнений</p>
                        <i>Слева пример выдачи каждому человеку 15 мнений.</i>
                    </p>
                </td>
            <tr class="other">
                <td>
                    <div>
                        <div class="input chosen op1">c</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">18</div>
                        <div class="op">OP3</div>
                        <div class="input"></div>
                        <div class="op">OP4</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input"></div>
                        <div class="op">OP6</div>
                        <div class="input"></div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>c</h2>
                    <p>Переводит камеру на человека с определенным ID (локальным)
                        <p><b class="opdesc">OP2</b>ID человека, на которого нужно перевести камеру</p>
                        <i>Слева пример команды для человека с ID 18.</i>
                    </p>
                </td>
            </tr>
            <tr class="carr">
                <td>
                    <div>
                        <div class="input chosen op1">carr</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">20</div>
                        <div class="op">OP3</div>
                        <div class="input chosen">1</div>
                        <div class="op">OP4</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input"></div>
                        <div class="op">OP6</div>
                        <div class="input"></div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>carr</h2>
                    <p>Суперкоманда, которая выдает для предмета сразу цену, рейтинг, consrate, prodrate,
                        supprate и маркер невосполнимости
                        <p><b class="opdesc">OP2</b>Тип мебели</p>
                        <p><b class="opdesc">OP3</b>Вид мебели</p>
                    </p>
                </td>
            </tr>
            <tr class="carr">
                <td>
                    <div>
                        <div class="input chosen op1">carran</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">18</div>
                        <div class="op">OP3</div>
                        <div class="input"></div>
                        <div class="op">OP4</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input"></div>
                        <div class="op">OP6</div>
                        <div class="input"></div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>carran</h2>
                    <p>Возвращает количество существующих действий для потребности/параметра
                        <p><b class="opdesc">OP2</b>Название потребности</p>
                    </p>
                </td>
            </tr>
            <tr class="carr">
                <td>
                    <div>
                        <div class="input chosen op1">carrfa</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">23</div>
                        <div class="op">OP3</div>
                        <div class="input"></div>
                        <div class="op">OP4</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input"></div>
                        <div class="op">OP6</div>
                        <div class="input"></div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>carrfa</h2>
                    <p>Возвращает количество действий, в которых используется указанный тип мебели
                        <p><b class="opdesc">OP2</b>Тип мебели</p>
                    </p>
                </td>
            </tr>
            <tr class="carr">
                <td>
                    <div>
                        <div class="input chosen op1">carrfc</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">200</div>
                        <div class="op">OP3</div>
                        <div class="input chosen">1</div>
                        <div class="op">OP4</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input"></div>
                        <div class="op">OP6</div>
                        <div class="input"></div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>carrfc</h2>
                    <p>Возвращает рейтинг предмета мебели от 1 до 6.
                        <p><b class="opdesc">OP2</b>Тип мебели</p>
                        <p><b class="opdesc">OP3</b>Вид мебели</p>
                    </p>
                </td>
            </tr>
            <tr class="carr">
                <td>
                    <div>
                        <div class="input chosen op1">carria</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">701</div>
                        <div class="op">OP3</div>
                        <div class="input"></div>
                        <div class="op">OP4</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input"></div>
                        <div class="op">OP6</div>
                        <div class="input"></div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>carria</h2>
                    <p>Возвращает количество невосполнимых предметов, используемых в указанном действии
                        <p><b class="opdesc">OP2</b>ID действия</p>
                    </p>
                </td>
            </tr>
            <tr class="carr">
                <td>
                    <div>
                        <div class="input chosen op1">carrir</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">20</div>
                        <div class="op">OP3</div>
                        <div class="input chosen">1</div>
                        <div class="op">OP4</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input"></div>
                        <div class="op">OP6</div>
                        <div class="input"></div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>carrir</h2>
                    <p>Возвращает массив с "ценой" (ценностью?) предмета в каждом действии, в котором 
                        он используется. Не является финальной ценой предмета.
                        <p><b class="opdesc">OP2</b>Тип мебели</p>
                        <p><b class="opdesc">OP3</b>Вид мебели</p>
                    </p>
                </td>
            </tr>
            <tr class="carr">
                <td>
                    <div>
                        <div class="input chosen op1">carrnf</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">3</div>
                        <div class="op">OP3</div>
                        <div class="input"></div>
                        <div class="op">OP4</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input"></div>
                        <div class="op">OP6</div>
                        <div class="input"></div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>carrnf</h2>
                    <p>Возвращает словарь, где ключ - параметр, а значение - кол-во действий для этого параметра
                        с использованием введенного типа мебели.
                        <p><b class="opdesc">OP2</b>Тип мебели</p>
                    </p>
                </td>
            </tr>
            <tr class="carr">
                <td>
                    <div>
                        <div class="input chosen op1">carrpp</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">18</div>
                        <div class="op">OP3</div>
                        <div class="input"></div>
                        <div class="op">OP4</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input"></div>
                        <div class="op">OP6</div>
                        <div class="input"></div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>carrpp</h2>
                    <p>Возвращает стоимость восполнения 1 пункта указанной потребности/параметра
                        <p><b class="opdesc">OP2</b>Название потребности</p>
                    </p>
                </td>
            </tr>
            <tr class="carr">
                <td>
                    <div>
                        <div class="input chosen op1">carrpr</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">301</div>
                        <div class="op">OP3</div>
                        <div class="input chosen">1</div>
                        <div class="op">OP4</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input"></div>
                        <div class="op">OP6</div>
                        <div class="input"></div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>carrpr</h2>
                    <p>Возвращает цену для указанного предмета мебели
                        <p><b class="opdesc">OP2</b>Тип мебели</p>
                        <p><b class="opdesc">OP3</b>Вид мебели</p>
                    </p>
                </td>
            </tr>
            <tr class="disc">
                <td>
                    <div>
                        <div class="input chosen op1">cdisciv</div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>cdisciv</h2>
                    <p>Создает темы дискурса внутри игрового мира.</p>
                </td>
            </tr>
            <tr class="disc">
                <td>
                    <div>
                        <div class="input chosen op1">disciv</div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>disciv</h2>
                    <p>Посмотреть, какие темы для дискурса существуют во внутриигровом мире.</p>
                </td>
            </tr>
            <tr class="action">
                <td>
                    <div>
                        <div class="input chosen op1">e</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">1399</div>
                        <div class="op">OP3</div>
                        <div class="input"></div>
                        <div class="op">OP4</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input"></div>
                        <div class="op">OP6</div>
                        <div class="input"></div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>e</h2>
                    <p>Посмотреть последовательность шагов для действия с определенным ID
                        <p><b class="opdesc">OP2</b>ID действия</p>
                        <i>Слева пример команды для действия с ID 1399.</i>
                    </p>
                </td>
            </tr>
            <tr class="other">
                <td>
                    <div>
                        <div class="input chosen op1">f</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">15</div>
                        <div class="op">OP3</div>
                        <div class="input chosen">1</div>
                        <div class="op">OP4</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input chosen">-1000</div>
                        <div class="op">OP6</div>
                        <div class="input chosen">320</div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>f</h2>
                    <p>Создает новый предмет мебели с заданной позицией
                        <p><b class="opdesc">OP2</b>Тип мебели</p>
                        <p><b class="opdesc">OP3</b>Вид мебели</p>
                        <p><b class="opdesc">OP5</b>Новая координата X</p>
                        <p><b class="opdesc">OP6</b>Новая координата Y</p>
                    </p>
                </td>
            </tr>
            <tr class="other">
                <td>
                    <div>
                        <div class="input chosen op1">f+</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">15</div>
                        <div class="op">OP3</div>
                        <div class="input chosen">seeds</div>
                        <div class="op">OP4</div>
                        <div class="input chosen">200</div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input"></div>
                        <div class="op">OP6</div>
                        <div class="input"></div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>f+</h2>
                    <p>Добавить/задать предмету мебели еще один параметр со значением
                        <p><b class="opdesc">OP2</b>ID предмета мебели</p>
                        <p><b class="opdesc">OP3</b>Название параметра</p>
                        <p><b class="opdesc">OP4</b>Значение параметра</p>
                    </p>
                </td>
            </tr>
            <tr class="other">
                <td>
                    <div>
                        <div class="input chosen op1">ft</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input"></div>
                        <div class="op">OP3</div>
                        <div class="input chosen">1</div>
                        <div class="op">OP4</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input chosen">-1000</div>
                        <div class="op">OP6</div>
                        <div class="input chosen">320</div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>ft</h2>
                    <p>Создает новую табличку с заданной позицией
                        <p><b class="opdesc">OP3</b>Номер таблички</p>
                        <p><b class="opdesc">OP5</b>Координата X</p>
                        <p><b class="opdesc">OP6</b>Координата Y</p>
                    </p>
                </td>
            </tr>
            <tr class="other">
                <td>
                    <div>
                        <div class="input chosen op1">green</div>
                    </div>
                    
                </td>
                <td class="uidesc">
                    <h2>green</h2>
                    <p>Заполняет четыре дефолтных чанка клетками с травой.
                    </p>
                </td>
            </tr>
            <tr class="save">
                <td>
                    <div>
                        <div class="input chosen op1">load</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">xyz</div>
                        <div class="op">OP3</div>
                        <div class="input"></div>
                        <div class="op">OP4</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input"></div>
                        <div class="op">OP6</div>
                        <div class="input"></div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>load</h2>
                    <p>Загрузить игру 
                        <p><b class="opdesc">OP2</b>Суффикс названия файлов сохранения (опционален)</p>
                        <br><br>
                        <i>
                            
                            <br>Места сохранения файлов:
                            <ul>
                                <li>Windows: The "user://" directory points to the user's "AppData/Roaming" directory.</li>
                                <li>macOS: The "user://" directory points to the user's "Library/Application Support" directory.</li>
                                <li>Linux: The "user://" directory points to the user's home directory.</li>
                            </ul>
                        </i>
                        
                    </p>
                </td>
            </tr>
            <tr class="other">
                <td>
                    <div>
                        <div class="input chosen op1">move</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">18</div>
                        <div class="op">OP3</div>
                        <div class="input chosen">1000</div>
                        <div class="op">OP4</div>
                        <div class="input chosen">-500</div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input"></div>
                        <div class="op">OP6</div>
                        <div class="input"></div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>move</h2>
                    <p>Переносит человека с определенным ID (локальным) на новую позицию
                        <p><b class="opdesc">OP2</b>ID человека, на которого нужно перевести камеру</p>
                        <p><b class="opdesc">OP3</b>Новая координата X</p>
                        <p><b class="opdesc">OP4</b>Новая координата Y</p>
                    </p>
                </td>
            </tr>
            <tr class="param">
                <td>
                    <div>
                        <div class="input chosen op1">p</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">18</div>
                        <div class="op">OP3</div>
                        <div class="input chosen">energy</div>
                        <div class="op">OP4</div>
                        <div class="input chosen">45</div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input"></div>
                        <div class="op">OP6</div>
                        <div class="input"></div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>p</h2>
                    <p>Устанавливает параметр у человека с определенным ID
                        <p><b class="opdesc">OP2</b>ID человека</p>
                        <p><b class="opdesc">OP3</b>Название параметра</p>
                        <p><b class="opdesc">OP4</b>Новое значение параметра</p>
                        <i>Слева пример установки значения бодрости на 45 для человека с ID 18.</i>
                    </p>
                </td>
            </tr>
            <tr class="param">
                <td>
                    <div>
                        <div class="input chosen op1">p+</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">ecology_level</div>
                        <div class="op">OP3</div>
                        <div class="input chosen">100</div>
                        <div class="op">OP4</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input"></div>
                        <div class="op">OP6</div>
                        <div class="input"></div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>p+</h2>
                    <p>Добавляет всем существующим в игре людям новый параметр
                        <p><b class="opdesc">OP2</b>Название нового параметра</p>
                        <p><b class="opdesc">OP3</b>Значение параметра по умолчанию</p>
                        <i>Внимание! Не работает на людей, добавленных после ввода этой команды.</i>
                    </p>
                </td>
            </tr>
            <tr class="carr">
                <td>
                    <div>
                        <div class="input chosen op1">reprice</div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>reprice</h2>
                    <p>Пересчитать цены на все предметы                        
                    </p>
                </td>
            </tr>
            <tr class="carr">
                <td>
                    <div>
                        <div class="input chosen op1">salary</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">20</div>
                        <div class="op">OP3</div>
                        <div class="input chosen">1</div>
                        <div class="op">OP4</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input"></div>
                        <div class="op">OP6</div>
                        <div class="input"></div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>salary</h2>
                    <p>Считает приличную почасовую зарплату винта с учетом выполняемых им действий.
                        <p><b class="opdesc">OP2</b>Номер системы</p>
                        <p><b class="opdesc">OP3</b>Номер винта</p>
                    </p>
                </td>
            </tr>
            <tr class="soc">
                <td>
                    <div>
                        <div class="input chosen op1">sc</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">6</div>
                        <div class="op">OP3</div>
                        <div class="input chosen">15</div>
                        <div class="op">OP4</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input"></div>
                        <div class="op">OP6</div>
                        <div class="input"></div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>sc</h2>
                    <p>Быстрое добавление винта в социальную систему
                        <p><b class="opdesc">OP2</b>ID системы</p>
                        <p><b class="opdesc">OP3</b>Глобальный ID человека</p>
                        <i>Слева пример добавления человека с ID 15 в систему с ID 6.</i>
                        <br><br><i>У этой команды нет настройки требований к винту, его зарплаты, действий и прочего.</i>
                    </p>
                </td>
            </tr>
            <tr class="soc" id="soc">
                <td>
                    <div>
                        <div class="input chosen op1">sc+</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">soc0/12/0/70 1,69 2,33 12/70 1,69 2,33 12/2001,2002,417/2003,420/0 9 8,1 9 8,2 9 8,3 9 8,4 9 8/key1:1,key2:5/28,88,512,230/key1:1,key2:5</div>
                        <div class="op">OP3</div>
                        <div class="input"></div>
                        <div class="op">OP4</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input"></div>
                        <div class="op">OP6</div>
                        <div class="input"></div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>sc+</h2>
                    <p>Добавить человека в социальную систему<br><br>
                        На вход принимает строку вида:
                        <div class="code">
                            soc0/12/0/70 1,33 12/46 1,19 3,69 2/2001,2002,417/2003,420/0 9 8,1 9 8,2 9 8,3 9 8,4 9 8/key1:1,key2:5/28,88,512,230/key3:1,key4:5/16,42
                        </div>
                        <br>Правильным использованием строки будет что-то такое, по порядку слешей:
                        <ol>
                            <li>номер системы с префиксом "soc"<i>(здесь soc0)</i></li>
                            <li>глобальный ID добавляемого человека (т.е. винта), если винтом выступает система, то указывается ее global_number с префиксом "s", например, "s28" и т.д.</li>
                            <li>глобальный ID шефа <i>(здесь 0)</i></li>
                            <li>список предметов мебели, которые нужны винту для работы (например, станки и т.д., <i>здесь 70 1,33 12</i>)</li>
                            <li>список предметов мебели, которые винт производит в ходе работы <i>(здесь 46 1,19 3,69 2)</i></li>
                            <li>список основных действий, которые винт выполняет на работе<i>(здесь 2001,2002,417)</i></li>
                            <li>список запрещенных на работе действий<i>(здесь 2003,420)</i></li>
                            <li>список рабочих смен через запятую, в каждой смене по три числа, например "1 9 8" означает, что смена
                                будет во вторник (0-пн, 1-вт и т.д.), начнется в 9 часов и продлится 8 часов; смен может быть сколько угодно
                            </li>
                            <li>требуемый уровень к параметрам человека на работе <i>(здесь key1:1,key2:5)</i></li>
                            <li>глобальные ID подчиненных <i>(здесь 28,88,512,230)</i></li>
                            <li>профиты винта за смену, обычно деньги <i>(здесь key3:1,key4:5)</i></li>
                            <li>адреса помещений, в которых работает винт через запятую <i>"16,42"</i> и т.д.</li>
                        </ol>
                        <br><br>Генератора таких строк пока что нет :(
                            <br><br>
                        <i>Пока что, в случае если начальством выступает другая система, обязанность ходить к вышестоящему начальству переходит 
                            к самому первому добавленному винту; после будет происходить выбор того, кому конкретно придется отчитываться перед начальством</i>
                    </p>
                </td>
            </tr>
            <tr class="soc">
                <td>
                    <div>
                        <div class="input chosen op1">shop</div>
                    </div>
                    
                    </div>
                </td>
                <td class="uidesc">
                    <h2>shop</h2>
                    <p>Создает новую социальную систему с рандомным названием магазина.</p>
                </td>
            </tr>
            <tr class="soc">
                <td>
                    <div>
                        <div class="input chosen op1">soc</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">19</div>
                        <div class="op">OP3</div>
                        <div class="input"></div>
                        <div class="op">OP4</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input"></div>
                        <div class="op">OP6</div>
                        <div class="input"></div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>soc</h2>
                    <p>Посмотреть информацию о социальной системе с определенным ID
                        <p><b class="opdesc">OP2</b>ID системы</p>
                    </p>
                </td>
            </tr>
            <tr class="soc">
                <td>
                    <div>
                        <div class="input chosen op1">soc+</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">name</div>
                        <div class="op">OP3</div>
                        <div class="input"></div>
                        <div class="op">OP4</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input"></div>
                        <div class="op">OP6</div>
                        <div class="input"></div>
                        <div class="op">OP7</div>
                        <div class="input"></div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>soc+</h2>
                    <p>Создать социальную систему с определенным именем
                        <p><b class="opdesc">OP2</b>Имя системы</p>
                    </p>
                </td>
            </tr>
            
            <tr class="other">
                <td>
                    <div>
                        <div class="input chosen op1">time</div>
                    </div>
                    <div>
                        <div class="op">OP2</div>
                        <div class="input chosen">18</div>
                        <div class="op">OP3</div>
                        <div class="input chosen">15</div>
                        <div class="op">OP4</div>
                        <div class="input chosen">5</div>
                    </div>
                    <div>
                        <div class="op">OP5</div>
                        <div class="input chosen">22</div>
                        <div class="op">OP6</div>
                        <div class="input chosen">5</div>
                        <div class="op">OP7</div>
                        <div class="input chosen">2017</div>
                    </div>
                    <div>
                        <div class="op">OP8</div>
                        <div class="input"></div>
                        <div class="op">OP9</div>
                        <div class="input"></div>
                        <div class="op">OP10</div>
                        <div class="input"></div>
                    </div>
                </td>
                <td class="uidesc">
                    <h2>time</h2>
                    <p>Изменяет внутриигровое время.
                        <p><b class="opdesc">OP2</b>Часы (0-23)</p>
                        <p><b class="opdesc">OP3</b>Минуты (0-59)</p>
                        <p><b class="opdesc">OP4</b>День недели (0 – понедельник, 6 – воскресенье)</p>
                        <p><b class="opdesc">OP5</b>Число месяца</p>
                        <p><b class="opdesc">OP6</b>Месяц (1-12)</p>
                        <p><b class="opdesc">OP7</b>Год</p>
                        <br><i>Незаполненные поля проигнорируются, время изменится по заполненным полям.</i>
                    </p>
                </td>
            </tr>
            <tr class="soc">
                <td>
                    <div>
                        <div class="input chosen op1">uni</div>
                    </div>
                    
                </td>
                <td class="uidesc">
                    <h2>uni</h2>
                    <p>Создает новую социальную систему с рандомным названием университета.</p>
                </td>
            </tr>
            
        </table></main>
        <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
        <script>
            $("#b1").click(function(){
                $('.action').toggle();
                $("#b1").toggleClass("btnInactive");
            });
            $("#b2").click(function(){
                $('.disc').toggle();
                $("#b2").toggleClass("btnInactive");
            });
            $("#b3").click(function(){
                $('.param').toggle();
                $("#b3").toggleClass("btnInactive");
            });
            $("#b4").click(function(){
                $('.soc').toggle();
                $("#b4").toggleClass("btnInactive");
            });
            $("#b5").click(function(){
                $('.save').toggle();
                $("#b5").toggleClass("btnInactive");
            });
            $("#b6").click(function(){
                $('.other').toggle();
                $("#b6").toggleClass("btnInactive");
            });
            $("#b7").click(function(){
                $('.carr').toggle();
                $("#b7").toggleClass("btnInactive");
            });
        </script>
</body>

</html>